{% extends 'movie_app/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <div style="margin-left: 50px;">
        <p>
            Your favorite movies:
        </p>
        <p>
            {% for each_movie in insert_movies %}
            <li>
                {{ each_movie }}
            </li>
            {% endfor %}
        </p>
    </div>
    <p>
        <a href="{% url 'search_movies' %}">
            Back to search panel
        </a>
    </p>
    {% else %}
    <p>You are not loggen in.</p>
    <p>
        <a href="{% url 'login' %}">
            Log in
        </a>
    </p>
    {% endif %}
{% endblock %}
