{% extends 'movie_app/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <section class="section" style="margin-top: 20px; margin-bottom: -20px;">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                            <div class="control is-expanded" style="width: 20px;">
                                {% csrf_token %}
                                {{ form.as_p }}
                            </div>
                            <div class="control">
                                <button class="button is-active" type="submit" name="btnSearch">
                                    Search
                                </button>
                                <button class="button is-active" type="submit" name="btnAdd" style="margin-left: -6px;">
                                    Add movie
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        {% if insert_response == "True" %}
        <div class="container">
            <div class="columns">
                <div class="column is-offset-3 is-6">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="{{ insert_poster }}" onerror="this.style.display='none'">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ insert_title }}</span>
                                        <br>
                                        <span class="subtitle">{{ insert_director }}</span>
                                        <br> {{ insert_genre }}
                                        <br> {{ insert_release }}
                                        <br> {{ insert_plot }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </section>
    {% else %}
    <p>You are not loggen in.</p>
    <p>
        <a href="{% url 'login' %}">
            Log in
        </a>
    </p>
    {% endif %}
{% endblock %}
