<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Search Movies</title>
    </head>
    <body>
        <div class="container">
            <form method="POST">
                {{ form.as_p }}
                {% csrf_token %}
                Type movie title: <input type="submit" value="Submit">
            </form>
        </div>
        <p>{{ insert_title }}</p>
        <p>{{ insert_director }}</p>
        <p>{{ insert_genre }}</p>
        <p>{{ insert_release }}</p>
        <p>{{ insert_plot }}</p>
    </body>
</html>
